/*层叠目录*/
.tier {
	width:960px;
	height:29px;
	margin:0 auto 0;
	text-align:left;
	line-height:29px;
	font-size:12px;
}
.tier span {
	color:#BDBDBD;
	margin:0 2px 0;
}
.tier img {
	height:20px;
	position:relative;
	top:4px;
}
.tier a {
	color:black;
	text-decoration:none;
}
.tier a:hover {
	text-decoration:underline;
}
/* 发帖编辑 */
.add {
	width:960px;
	margin:10px auto 0;
	font-size:12px;
}
.add span {
	color:#CDCDCD;
}