body {
	margin:20px;
	font-size:12px;
}
.title {
	color:#0099CC;
	font-weight:bolder;
	font-size:16px;
}
table {
	font-size:12px;
	width:1100px;
}
hr {
	height:1px; 
	border:none; 
	border-top:1px dotted #DEEFFB; 
	margin:5px auto 5px;
}
table tr {
	border-top:1px dotted #DEEFFB; 
	text-align:center;
}